.screen {
  // padding: 20px;
  background-color: #2D2449;
  width: 95vw;
  min-height: 95vh;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4.5rem);
    height: 100%;
    display: flex;
    flex-direction: column;

    .games-content {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      height: 50%;
      gap: 1rem;
      padding: 2.25rem 1rem 0 4rem;
      overflow: hidden;

      .top-game {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 42px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .game-info {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 1rem;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
          border-radius: 42px;
          opacity: .35;
          transition: all 0.3s ease 0s;

          &:hover {
            opacity: 1;
          }

          .game-name {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--main-color-2);
          }

          .game-description {
            font-size: .9rem;
          }

          .game-category {
            font-size: .8rem;
            background-color: rgb(212, 201, 45);
            color: rgb(104, 104, 104);
            width: fit-content;
            border-radius: 8px;
            padding: .2rem .5rem;
            margin: .65rem 0;
          }

          .game-time {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: .9rem;
            color: #fff;
          }

          .game-info-footer {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;

            * {
              display: flex;
              align-items: center;
              gap: .45rem;
            }

            .game-buttons {
              margin-left: auto;
            }

            .game-button {
              border: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background-color: #6653a5;
              color: #fff;
              font-size: 1.2rem;
              cursor: pointer;
            }
          }
        }
      }

      .games {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        overflow: hidden;
      }
    }

    .bottom-content {
      // padding: 2rem;
      height: 44%;

      h2 {
        font-weight: 400;
        // margin-bottom: 1rem;
        padding: 2rem;
        padding-bottom: 0;
      }

      .tabs {
        display: grid;
        grid-template-columns: 350px 1fr;
        height: 80%;
        overflow: hidden;

        .tab-links {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          height: 100%;
          padding: 2rem;

          a {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.1rem;
            color: #6653a5;
            transition: .3s;

            &:hover {
              color: #ce2a0d;
            }
          }

          .active {
            color: #ffef09;
          }
        }

        .tab-content {
          display: flex;
          width: 100%;
          overflow: auto;

          .swiper-container {
            width: 100%;
            height: 100%;

            a {
              color: inherit;
            }
          }
        }
      }
    }
  }
}