.game-details {
  display: flex;
  flex-direction: column;
  overflow: auto;
  // background-color: #fff;
  width: 100%;
  height: 100%;

  .game-header {
    margin: 3rem;
    height: 500px;
    // width: 100%;

    .image {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
      }

      .header-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.75rem 3rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .tags {
          display: flex;

          span {
            margin-right: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            font-weight: 500;
            color: #4e4e4e;
            background-color: rgb(255, 230, 0);
          }
        }

        p {
          margin-top: 1rem;
          font-size: 1.25rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }


  }

  .header-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;

    .rank-first,
    .rank-second,
    .rank-third {
      width: 200px;
      height: 110px;
      position: relative;
      // margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
      }

      .icon-medal {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background: #332E59;
        padding: .45rem;
        border-radius: 8px;
        text-align: center;
        font-size: .75rem;
      }
    }

    .rank-first img {
      width: 80px;
      height: 80px;
    }

    .rank-second img {
      width: 80px;
      height: 80px;
    }

    .rank-third img {
      width: 80px;
      height: 80px;
    }

    .element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      height: 130px;
      width: 130px;
      background-color: #332E59;
      border-radius: 50%;
      overflow: hidden;

      svg {
        font-size: 1rem;
        color: rgb(207, 207, 207);
      }

      p {
        font-size: .9rem;
        font-weight: 500;
        color: rgb(207, 207, 207);
      }
    }

    .ranking {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      width: 600px;
      background-color: #332E59;
      border-radius: 12px;
      overflow: hidden;

      h2 {
        width: 100%;
        background-color: #282043;
        text-align: center;
      }

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        position: relative;
        width: 100px;

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .first {
        height: 180px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(85px);
          background-color: rgb(218, 221, 45);
          border-radius: 8px;
        }
      }

      .second {
        height: 130px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(85px);
          background-color: rgb(218, 221, 45);
          border-radius: 8px;
        }
      }

      .third {
        height: 80px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(85px);
          background-color: rgb(218, 221, 45);
          border-radius: 8px;
        }
      }
    }

    .play {
      background-color: rgb(24, 100, 8);
      color: rgb(255, 255, 255);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      transition: .3s ease-in-out;
      cursor: pointer;
      margin-left: auto;
      opacity: .4;

      &:hover {
        opacity: 1;
        background-color: rgb(35, 139, 14);
      }

      svg {
        margin: auto;
        font-size: 3rem;
      }
    }
  }
}

.game-questions {
  transform: scale(0);
  width: 100%;
  height: calc(100% - 4rem);
  position: absolute;
  left: 0;
  bottom: 0;

  .question {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 6rem;
    width: 100%;
    padding-bottom: 2rem;
    max-height: 50%;

    .question-code {
      padding: 2rem;
      border-radius: 18px;
      border: 1px solid #0e7a0a;
      overflow: auto;
      max-height: 400px !important;
    }
  }

  .answers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;

    .answer {
      border-radius: 12px;
      width: 24%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #5540f0;
      }

      p {
        width: 100%;
        min-height: 250px;
        background-color: #332e59b7;
        padding: 2rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        // color: rgb(207, 207, 207);
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer;
        position: relative;
      }

      .code {
        padding: 1rem;
        border-radius: 12px;
        background-color: #0000007c;
        // margin: 2rem;
        line-height: 1.6rem;
        font-size: 1.1rem;

      }

      pre {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

    }

    .selected {
      background-color: #5540f0;
      box-shadow: inset 0 0 0 2px #fc900c;
    }
  }

  .onSelectedAnswer {
    background-color: #270e99;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    pointer-events: none;
    cursor: pointer;
    scale: 0;
    opacity: .4;
    transition: .6s;

    &:hover {
      background-color: #0e7a0a;
      opacity: 1;
    }
  }

  .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(211, 211, 211, 0.144);

    .timer-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
    }
  }
}

.game-score {
  width: 100%;
  height: calc(100% - 4rem);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease-in-out;
  transform: scale(0);

  img {
    // width: 400px;
    height: 500px;
    // position: absolute;
    // top: 28%;
    // left: 40%;
    // transform: translate(-70%, -50%) scale(.5);
    z-index: 98;
    opacity: 0;

    &::selection {
      background-color: transparent;
    }
  }

  .score-details {
    border-radius: 32px;
    margin: auto 0;
    width: 810px;
    height: 500px;
    background-image:
      linear-gradient(to right bottom, #692d4a,
        #5d2749, #512248, #431d46, #351943,
        #321841, #2f1640, #2c153e, #34153d,
        #3b153c, #41163b, #471739);
    z-index: 97;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .85rem;
    padding: 2rem;
    // padding-left: 18rem;




    h2,
    p {
      width: 300px;
      text-align: center;

      &::selection {
        background-color: transparent;
      }
    }

    .congratulations {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 1rem;
      // background-color: #fff;
      // width: 200px;

      img {
        width: 5rem;
        height: 100%;
        position: inherit;
        transform: translate(0, 0) scale(1);
        opacity: 1;

        &:nth-child(1) {
          transform: translateX(1.5rem) translateY(-40px);
        }

        &:nth-child(3) {
          transform: translateX(-1.5rem) translateY(-40px);
        }
      }

      h2 {
        font-weight: 800;
        font-size: 3.5rem;
        color: rgb(255, 255, 255);

        &::selection {
          background-color: transparent;
        }
      }
    }

    .status-element {
      border-bottom: 1px solid #fff;
      width: 200px;
      // margin-left: auto;
      padding: .65rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        // text-align: left;
        font-weight: 700;
        font-size: .8rem;
        color: rgb(175, 175, 175);

      }

      span {
        font-size: .85rem;
        color: #fff;
        display: flex;
        align-items: center;
        gap: .45rem;
        padding-top: .4rem;

        &::selection {
          background-color: transparent;
        }


        strong {
          color: #fc900c;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }

  a {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #fc900c;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
}

.error-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: .3s ease-in-out;
}

.hit-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: .3s ease-in-out;
}

.show-message {
  animation: showMessage 1s ease-in-out forwards;
}

@keyframes showMessage {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body.selected .onSelectedAnswer {
  pointer-events: all;
  scale: 1;
  // background-color: #fff !important;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-10-10 15:39:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.timer-animation {
  animation: timer var(--timer) ease-in-out;
}

.slit-in-vertical {
  animation: slit-in-vertical .45s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.puff-out-center {
  animation: puff-out-center 1s cubic-bezier(.165, .84, .44, 1.000) both;
  pointer-events: none;
}

.puff-in-center {
  animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
}

.text-pop-up-top {
  animation: text-pop-up-top .5s cubic-bezier(.25, .46, .45, .94) both;
  animation-delay: 1s;
}

@keyframes timer {
  0% {
    width: 100%;
    background-color: rgb(45, 221, 98);
  }

  60% {
    background-color: rgb(221, 209, 45);
  }

  100% {
    width: 0%;
    background-color: rgb(255, 0, 0);
  }
}

@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1
  }

  100% {
    transform: scale(0);
    filter: blur(4px);
    opacity: 0;
    display: none;
  }
}

@keyframes puff-in-center {
  0% {
    transform: scale(0);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes slit-in-vertical {
  0% {
    transform: rotateY(90deg) scale(0);
    opacity: 0;
  }

  54% {
    transform: rotateY(87deg);
    opacity: 1;
  }

  100% {
    transform: rotateY(0) scale(.8);
    opacity: 1;
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none
  }

  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 rgb(160, 160, 160), 0 2px 0 rgb(160, 160, 160), 0 3px 0 rgb(160, 160, 160), 0 4px 0 rgb(160, 160, 160), 0 5px 0 rgb(160, 160, 160), 0 6px 0 rgb(160, 160, 160), 0 7px 0 rgb(160, 160, 160), 0 8px 0 rgb(160, 160, 160), 0 9px 0 rgb(160, 160, 160), 0 50px 30px rgba(0, 0, 0, .3)
  }
}